@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");


.sports-img {
  @apply w-36 h-full rounded-full  ease-in-out duration-300 hover:grayscale;
}
.sports-button {
  @apply w-36 rounded-full border-solid border-secundario border-4 flex items-center justify-center uppercase text-2xl font-black;
}
.border-gradient {
  border-width: 4px; /* Ajusta el grosor del borde según sea necesario */
  border-image: linear-gradient(45deg, #369676, #60a5fa, #f97316) 1;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: Marko;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
